<div class="header">
  <%= link_to root_path do %>
    <i class="fas fa-home fa-3x"></i>
  <% end %>
</div>

<div class="about_banner">
  <div class="container">
    <h1>Born and raised in Yorkshire in the north of England</h1>
    <p>This is Michael "Monkfish" Sutcliffe</p>
  </div>
</div>



<div class="container">
  <h2>The first person from Barnsley to ever even go there.</h2>
  <p>
    Michael Sutcliffe is the first one who ever even knew about what it is we're are talking about. Even if you're still not sure, <strong>now</strong> is the time.
  </p>

  <h2>Coolest guy ever</h2>
  <p>
    First here and there and now then and there. I do believe we're naked by Funky See Funky Doo.
  </p>

  <h2>A bit of translation</h2>
  <p>
    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
  </p>
</div>


