<div class="main">


    <div id="banner">
      <h1>Hello, my name is Michael</h1>
      <p>I make Rails apps.</p>
      <p>
        <a class='btn btn-primary' href="#">Learn more</a>
      </p>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-3">
          <div class="tab">
            <img src="https://picsum.photos/id/1/200/300" alt="" class="img-thumbnail">
            <h2>Learning</h2>
            <p>This is a Monkfish app</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="tab">
            <img src="https://picsum.photos/id/1031/200/300" alt="" class="img-thumbnail">
            <h2>Building</h2>
            <p>This is a Monkfish app</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="tab">
            <img src="https://picsum.photos/id/1042/200/300" alt="" class="img-thumbnail">
            <h2>Creating</h2>
            <p>This is a Monkfish app</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="tab">
            <img src="https://picsum.photos/id/103/200/300" alt="" class="img-thumbnail">
            <h2>Imagining</h2>
            <p>This is a Monkfish app</p>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <p>This is a footer</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href=""><i class="fab fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>

</div>
